h1 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.tweet {
  margin: 1rem;
}

.listeElt {
  color: blue;
}

.createdDate {
  color: black;
  font-weight: bold;
}

.author {
  color: black;
  font-style: italic;
}

.hashtag {
  color: green;
}